Repository xMOROx/netpix, pull requests merged in 2024-12, with the labels that each got.

#52 Simple filtering
  client/Cargo.lock
  client/Cargo.toml
  client/src/app.rs
  client/src/app/mpegts_info_table.rs
  client/src/app/mpegts_packets_table.rs
  client/src/app/mpegts_packets_table/display.rs
  client/src/app/mpegts_packets_table/filters.rs
  client/src/app/mpegts_packets_table/types.rs
  client/src/app/packets_table.rs
  client/src/app/rtcp_packets_table.rs
  client/src/app/rtp_streams_plot.rs
  client/src/app/tab.rs
  client/src/streams/rtpStream.rs
  common/src/mpegts/psi/pat/fragmentary_pat.rs
  src/cmd/list.rs
  src/server.rs
Labels: feature, refactor

#54 Refactoring
  .github/workflows/clippy.yml
  Cargo.lock
  Cargo.toml
  client/Cargo.lock
  client/Cargo.toml
  client/src/app.rs
  client/src/app/mpegts_packets_table.rs
  client/src/app/mpegts_packets_table/filters.rs
  client/src/app/mpegts_packets_table/types.rs
  client/src/app/mpegts_stream_plot.rs
  client/src/app/mpegts_streams_table.rs
  client/src/app/packets_table.rs
  client/src/app/rtcp_packets_table.rs
  client/src/app/rtp_packets_table.rs
  client/src/app/rtp_streams_plot.rs
  client/src/app/rtp_streams_table.rs
  client/src/app/tab.rs
  client/src/main.rs
  client/src/streams/mpegts_stream.rs
  client/src/streams/mpegts_stream/packet_info.rs
  client/src/streams/mpegts_stream/packet_processor.rs
  client/src/streams/mpegts_stream/substream.rs
  client/src/streams/stream_statistics.rs
  common/Cargo.lock
  common/Cargo.toml
  common/src/mpegts/adaptation_field.rs
  common/src/mpegts/aggregator.rs
  common/src/mpegts/descriptors.rs
  common/src/mpegts/descriptors/audio_stream.rs
  common/src/mpegts/descriptors/avc_video_descriptor.rs
  common/src/mpegts/descriptors/ca_descriptor.rs
  common/src/mpegts/descriptors/copyright_descriptor.rs
  common/src/mpegts/descriptors/data_stream_alignment_descriptor.rs
  common/src/mpegts/descriptors/hierarchy.rs
  common/src/mpegts/descriptors/iso_639_language_descriptor.rs
  common/src/mpegts/descriptors/macros.rs
  common/src/mpegts/descriptors/maximum_bitrate_descriptor.rs
  common/src/mpegts/descriptors/multiplex_buffer_utilization_descriptor.rs
  common/src/mpegts/descriptors/private_data_indicator_descriptor.rs
  common/src/mpegts/descriptors/registration_descriptor.rs
  common/src/mpegts/descriptors/std_descriptor.rs
  common/src/mpegts/descriptors/system_clock_descriptor.rs
  common/src/mpegts/descriptors/target_background_grid_descriptor.rs
  common/src/mpegts/descriptors/video_stream.rs
  common/src/mpegts/descriptors/video_window_descriptor.rs
  common/src/mpegts/pes/pes_buffer/tests.rs
  common/src/mpegts/psi/pat/fragmentary_pat/tests.rs
  common/src/mpegts/psi/pat/pat_buffer/tests.rs
  common/src/mpegts/psi/pmt/fragmentary_pmt/tests.rs
  common/src/mpegts/psi/pmt/pmt_buffer/tests.rs
  common/src/mpegts/tests.rs
  common/src/packet.rs
  common/src/utils/bits.rs
Labels: refactor, update

#64 feat: error information modal
  client/src/app/mpegts_packets_table.rs
  client/src/app/mpegts_packets_table/filters.rs
  client/src/filter_system.rs
Labels: feature

#66 feat: add info modal to mpegts packets view
  client/src/app/mpegts_packets_table.rs
Labels: feature

#59 implement promicuous mode
  client/src/app.rs
  src/cmd/run.rs
  src/sniffer.rs
Labels: feature

#68 61 implement filtering for main packets view
  client/src/app.rs
  client/src/app/mpegts_packets_table.rs
  client/src/app/mpegts_packets_table/filters.rs
  client/src/app/packets_table.rs
  client/src/app/packets_table/filters.rs
  client/src/app/utils.rs
  client/src/filter_system.rs
  client/src/filter_system/comparison.rs
  client/src/filter_system/error.rs
  client/src/filter_system/lexer.rs
  client/src/filter_system/parser.rs
  client/src/filter_system/traits.rs
  client/src/filter_system/types.rs
  common/src/packet.rs
Labels: feature, refactor, merged

#69 fix: substreams
  Cargo.toml
  client/Cargo.toml
  client/src/app/mpegts_streams_table.rs
  client/src/streams/mpegts_stream/packet_info.rs
  client/src/streams/mpegts_stream/packet_processor.rs
  common/Cargo.toml
Labels: bugfix

#62 Refactor filtering to be more generic and implement it for main packets view
  client/src/app.rs
  client/src/app/mpegts_packets_table.rs
  client/src/app/mpegts_packets_table/filters.rs
  client/src/app/mpegts_streams_table.rs
  client/src/app/mpegts_streams_table/filters.rs
  client/src/app/packets_table.rs
  client/src/app/packets_table/filters.rs
  client/src/app/utils.rs
  client/src/filter_system.rs
  client/src/filter_system/comparison.rs
  client/src/filter_system/error.rs
  client/src/filter_system/lexer.rs
  client/src/filter_system/parser.rs
  client/src/filter_system/traits.rs
  client/src/filter_system/types.rs
  client/src/main.rs
  common/src/packet.rs
Labels: feature, refactor

#39 Info view
  client/rust-toolchain.toml
  client/src/app.rs
  client/src/app/mpegts_info_table.rs
  client/src/app/mpegts_info_table/constants.rs
  client/src/app/mpegts_info_table/descriptor_ui.rs
  client/src/app/mpegts_info_table/table.rs
  client/src/app/mpegts_info_table/table_body.rs
  client/src/app/mpegts_info_table/types.rs
  client/src/app/rtp_streams_plot.rs
  common/src/mpegts.rs
  common/src/mpegts/header.rs
  common/src/mpegts/psi/pat.rs
  common/src/mpegts/psi/pat/pat_buffer.rs
  common/src/mpegts/psi/pat/pat_buffer/tests.rs
  common/src/mpegts/psi/pmt.rs
  common/src/mpegts/psi/pmt/pmt_buffer.rs
  common/src/mpegts/psi/pmt/pmt_buffer/tests.rs
  rust-toolchain.toml
Labels: feature

#72 feat: filters
  client/src/app/mpegts_info_table.rs
  client/src/app/mpegts_info_table/filters.rs
  client/src/app/mpegts_info_table/table.rs
Labels: feature

#77 sdp utils
  pcap_examples/sdp1_wireshark.txt
  pcap_examples/sdp2_wireshark.txt
  pcap_examples/sdp3_wireshark.txt
  utils/parse_wireshark_sdp.py
Labels: chore

#78 Exclude files
  .github/workflows/typos.yml
  typos.toml
Labels: cicd

#75 feat: server side packets discharger
  Cargo.lock
  Cargo.toml
  client/Cargo.lock
  client/src/app.rs
  common/Cargo.lock
  common/Cargo.toml
  common/src/lib.rs
  common/src/packet.rs
  macros/Cargo.toml
  macros/src/lib.rs
  src/server.rs
  src/server/asset.rs
  src/server/client.rs
  src/server/constants.rs
  src/server/handler.rs
Labels: feature

#81 update license
  LICENSE
Labels: chore

#82 remove unused view
  client/src/app.rs
  client/src/app/mpegts_stream_plot.rs
  client/src/app/tab.rs
Labels: refactor

#79 Refactor views
  Cargo.lock
  Cargo.toml
  client/src/app.rs
  client/src/app/common.rs
  client/src/app/common/table.rs
  client/src/app/common/types.rs
  client/src/app/mpegts_info_table.rs
  client/src/app/mpegts_info_table/descriptor.rs
  client/src/app/mpegts_info_table/descriptor/display.rs
  client/src/app/mpegts_info_table/descriptor/ui.rs
  client/src/app/mpegts_info_table/table.rs
  client/src/app/mpegts_info_table/types.rs
  client/src/app/mpegts_packets_table.rs
  client/src/app/mpegts_packets_table/constants.rs
  client/src/app/mpegts_packets_table/display.rs
  client/src/app/mpegts_packets_table/table.rs
  client/src/app/mpegts_packets_table/types.rs
  client/src/app/mpegts_streams_table.rs
  client/src/app/mpegts_streams_table/display.rs
  client/src/app/mpegts_streams_table/table.rs
  client/src/app/mpegts_streams_table/types.rs
  client/src/app/packets_table.rs
  client/src/app/packets_table/table.rs
  client/src/app/packets_table/types.rs
  client/src/app/rtp_packets_table.rs
  client/src/app/rtp_packets_table/filters.rs
  client/src/app/rtp_packets_table/table.rs
  client/src/app/rtp_packets_table/types.rs
  client/src/app/rtp_streams_table.rs
  client/src/app/rtp_streams_table/filters.rs
  client/src/app/rtp_streams_table/table.rs
  client/src/app/rtp_streams_table/types.rs
  macros/Cargo.lock
  macros/src/lib.rs
  src/cmd/run.rs
  src/server.rs
  src/server/config.rs
  src/server/constants.rs
  src/server/handler.rs
Labels: refactor

#83 feat: implement stats
  client/src/app.rs
  common/src/lib.rs
  src/server/handler.rs
Labels: feature

#87 Patch/0.4.1 - Correct names
  Cargo.lock
  Cargo.toml
  client/Cargo.lock
  client/Cargo.toml
  client/index.html
  common/Cargo.toml
  src/main.rs
Labels: chore

#90 Add stream type and program number to mpegts packets view
  Cargo.lock
  Cargo.toml
  client/Cargo.lock
  client/Cargo.toml
  client/src/app/mpegts_packets_table/display.rs
  client/src/app/mpegts_packets_table/filters.rs
  client/src/app/mpegts_packets_table/table.rs
  client/src/app/mpegts_packets_table/types.rs
  common/src/mpegts/psi/pmt/stream_types.rs
Labels: feature, refactor

#91 fix light mode
  client/src/app/mpegts_packets_table/display.rs
  client/src/app/utils.rs
  common/Cargo.lock
Labels: bugfix

#94 fix: rtp filtering issue
  client/src/app/rtp_packets_table/filters.rs
  client/src/app/rtp_packets_table/table.rs
Labels: bugfix

#93 refactor: remove program number as a column
  client/src/app/mpegts_packets_table/filters.rs
  client/src/app/mpegts_packets_table/table.rs
Labels: refactor

#97 fix: discharge old packets from old source
  src/server/handler.rs
Labels: bugfix

#100 Remove needs-review label when pr reviewed
  .github/workflows/pr-workflow.yml
Labels: needs-review, size/S

#101 Add auto-labeling
  .github/labeler.yml
  .github/scripts/labeler/builders.go
  .github/scripts/labeler/rules.go
  .github/scripts/labeler/types.go
  .github/scripts/main.go
  .github/workflows/pr-labeler.yml
Labels: chore, cicd, needs-review, size/M

#103 refactor: use pretty assertions
  common/src/mpegts/pes/optional_fields/tests.rs
  common/src/mpegts/pes/pes_buffer/tests.rs
  common/src/mpegts/psi/pat/fragmentary_pat/tests.rs
  common/src/mpegts/psi/pat/pat_buffer/tests.rs
  common/src/mpegts/psi/pmt/fragmentary_pmt/tests.rs
  common/src/mpegts/psi/pmt/pmt_buffer/tests.rs
  common/src/mpegts/psi/pmt/stream_types/tests.rs
  common/src/mpegts/psi/tests.rs
  common/src/mpegts/tests.rs
Labels: needs-review, size/XS

#105 cicd: update workflows
  .github/scripts/parse_outdated.py
  .github/workflows/daily-check.yml
  .github/workflows/pr-workflow.yml
Labels: cicd, size/M

#107 cicd: better label for outdated dependencies issue
  .github/workflows/daily-check.yml
Labels: cicd, needs-review, size/XS

#110 feat: auto resize canvas with browser size
  client/src/main.rs
Labels: needs-review, size/S

#111 feat: update labeler
  .github/scripts/labeler/builders.go
  .github/scripts/labeler/rules.go
  .github/scripts/labeler/types.go
  .github/scripts/main.go
  .github/workflows/pr-labeler.yml
Labels: cicd, needs-review, size/S

#112 fix: labeler
  .github/labeler.yml
  .github/scripts/labeler/rules.go
  .github/scripts/labeler/types.go
  .github/scripts/main.go
Labels: chore, needs-review, size/XS
