Repository xMOROx/netpix, pull requests merged in 2025-01, with the labels that each got.

#117 release: 0.5.0
  Cargo.toml
  client/Cargo.toml
  common/Cargo.toml
Labels: chore, needs-review, size/S, release

#118 small visual fixes
  Cargo.lock
  client/Cargo.lock
  client/src/app/constants.rs
  client/src/app/tables/mpegts_info_table/table.rs
  client/src/app/tables/mpegts_info_table/table_body.rs
  client/src/app/tables/mpegts_packets_table/table.rs
  client/src/app/tables/mpegts_streams_table/table.rs
  client/src/app/tables/packets_table/table.rs
  client/src/app/tables/rtcp_packets_table/table.rs
  client/src/app/tables/rtp_packets_table/table.rs
  client/src/app/tables/rtp_streams_table/table.rs
  common/Cargo.lock
Labels: bugfix, chore, needs-review, size/M, feature: client

#119 fix: bitrate calculation for mpegts streams
  client/src/app/tables/mpegts_streams_table/display.rs
  client/src/streams/mpegts_stream/packet_processor.rs
  common/src/mpegts/pes/pes_buffer.rs
Labels: bugfix, needs-review, size/S

#120 release: 0.5.1
  Cargo.lock
  Cargo.toml
  client/Cargo.lock
  client/Cargo.toml
Labels: chore, size/XS

#121 refactor: discharge pes payload
  client/src/app/tables/mpegts_packets_table/table.rs
  client/src/streams/mpegts_stream.rs
  client/src/streams/mpegts_stream/packet_info.rs
  client/src/streams/mpegts_stream/packet_processor.rs
  common/src/mpegts.rs
  common/src/mpegts/payload.rs
  common/src/mpegts/pes.rs
  common/src/mpegts/pes/constants.rs
  common/src/mpegts/pes/enums.rs
  common/src/mpegts/pes/pes_buffer/tests.rs
Labels: needs-review, size/M, refactor: common, refactor: client, bugfix: common
